.container1 {
    background-color: aqua;
    width: 100%;
    gap: 20px;
    display: grid;
    /*display: flex;*/

    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-right: 17%;
    padding-top: 10%;
    grid-template-columns: 0.5fr 1fr;
}
.item:nth-child(2) {
    width: 100%;
    background-color: rebeccapurple;
}
.item:nth-child(2) img {
    height: 680px;
    padding: 0;
}

.item:nth-child(1) {
    width: 100%;
    background-color: pink;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
}.item:nth-child(1) h1 {
    font-size: 64px;
    font-weight: semibold;
}